.custom-button {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  padding: 10px 23px;
  border-radius: 1px;
  margin-top: 5px;
  font-weight: bold;
  transition: all 0.2s;
  letter-spacing: 1px;
  text-align: center;
}
.custom-button:hover {
  background-color: rgba(0, 0, 0, 0.878);
  color: #fff;
}
.google {
  background-color: #fff;
  border: 1px solid #0652dd;
  color: #0652dd;;
}

.google:hover {
  background-color: #0652dd;
  color: #fff;
}
.register-button {
  width: 80%;
  margin: 0 auto;
}
.brand-icon {
  padding-right: 15px;
}
