.collection-preview {
  margin: 30px 0px;
}
.title {
  width: fit-content;
}
.items-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content: space-between;
  margin-top: 15px;
  position: relative;
}



