
.item {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.item:nth-child(4) {
  margin-right: 0;
}
.item:hover {
  filter: brightness(70%);
}
.photo {
  width: 280px;
  height: 370px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}
.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px;
  height: 50px;
  font-size: 20px;
}
.add-to-cart {
  visibility: hidden;
  background-color: white;
  border: white;
  color: black;
  transition: all 0s;
  z-index: 1;

}

.photo:hover > .add-to-cart {
  visibility: visible;
}
@media (width < 650px) {
  .photo {
    width: 220px;
    height: 250px;
    background-size: 100% 100%;
  }
  .add-to-cart {
    width: 70%;
  }
}

@media (width > 650px) {
  .photo {
    width: 230px;
    height: 270px;
    background-size: 100% 100%;
  }
  .add-to-cart {
    width: 70%;
  }
}
