.top-to-btm {
  position: relative;
}

.icon-style {
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}
.icon-style:hover {

}
.icon-position{
    position: fixed;
    bottom: 35px;
    right: 5px;
    z-index: 1;
}

@keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
   
    50%{
      transform: translateY(20px);
    }

    100%{
      transform: translateY(0px);
    }
  }