.signin-register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signin-register p{
    margin: 25px 30px;
    padding: 5px 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    
}
.selected {
    border-bottom: 1px solid gray;
}