.pointer{
    cursor: pointer;
    font-size: 15px;
}
.arrow{
    padding: 0px 3px 2px;
    display: inline-block;
}
.checkout-page .cart-item-img{
   height: 140px;
   width: 110px;
}
.checkout-details{
    font-size: 19px;
}

