nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  z-index: 1;
  background-color:#fff;
  margin-bottom: 35px;
  position: sticky;
  top: 0;
  box-shadow: 0 15px 35px rgba(128, 128, 128, 0.312);
}

.header-links {
  all: unset;
  text-transform: uppercase;
}

.header-links li {
  all: unset;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0px 20px;
}
.header-links li:last-child {
  padding-right: 0px;
}

.header-links li .header-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.826);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media (width <800px) {
  nav {
    justify-content: center;
    height: 13vh;
    transition: all 0.5s;
  }
  .shrinked-nav{
    transition: all 0.5s;
    height: 7vh;
  }
  .logo{
    transition: all 0.5s;
    position: absolute;
    top:10px;
    left: 48%;
    margin-left: -13px;
  }
  .hidden-logo{
    position: absolute;
    top: -60px;
  }
  .header-links {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 50px;
    padding-bottom: 15px;
    transition: all 0.5s;
  }
  .shrinked-header-links{
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .header-links li {
    padding: 0px;
  }

}
