.cart-icon-container{
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.cart-icon{
  width: 30px;
}

.cart-icons-count{
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 17px;
}

@media (width < 800px){
  .cart-icon-container{
    display: inline-block;
  }
  .cart-icon{
    width: 27px;
    margin-bottom: 3px;

  }
  .cart-icons-count{
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 15px;
  }
  
}